<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>Les utilisateurs</h1>
    {% for e in data %}
    <section>
      <h3>{{e[0]}}</h3>
      <ul>
        {% for a in e[1] %}
        <li> {{a}} </li>
        {% endfor %}
      </ul>
    </section>
    {% endfor %}
  </body>
</html>
